@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8fafc;
  --surface: #ffffff;
  --text: #0f172a;
  --muted: #64748b;
  --accent: #0ea5a4;
}

  /* Dark Mode Variables */
  .dark {
    --bg: #020617;
    --surface: #0f172a;
    --text: #f8fafc;
    --muted: #94a3b8;
  }

body {
  background: var(--bg);
  color: var(--text);
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue";
}

/* ✅ เพิ่ม Animation ตรงนี้ */
@keyframes progress {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-progress {
  animation: progress 2s infinite linear;
}
